.instructorcontainer {
    /* border: 3px solid red; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: row;
}

.instructorSidebar {
    /* border: 3px solid orange; */
    width: 13vw;
    /* display: none; */
}

.sidebarNavItem {
    /* border: solid royalblue; */
    margin: 2rem 0;
}

.sidebarNavLink:ac {
    /* border: solid royalblue; */
    text-decoration: none;
    outline: none;
    color: aliceblue;
    opacity: 0.5;
    font-size: 28px;
    font-weight: 500;
}

.sidebarNavLink{
    /* border: solid royalblue; */
    text-decoration: none;
    outline: none;
    color: aliceblue;
    opacity: 0.5;
    font-size: 28px;
    font-weight: 500;
}

.sidebarNavLinkActive {
        opacity: 1;
        text-decoration: none;
        outline: none;
        color: aliceblue;
        font-size: 28px;
        font-weight: 500;
}


.instructorRight{
    /* border: 3px solid blue; */
    width: 87vw;
    display: flex;
    flex-direction: column;
}

.instructorTopbar {
    /* border: 3px solid green; */
    height: 6%;
}

.instructorPagesContainer {
    /* border: 3px solid green; */

    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructorPages {
    /* border: 3px solid green; */
    width: 98%;
    height: 98%;
    background-color: whitesmoke;
    border-radius: 2rem;
}