.instructorcontainer {
    /* border: 1px solid red; */
    position: relative;
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0;  */
    height: 100%;
    width: 99%;
    float: left;

    /* display: flex;
    flex-direction: row; */
}

.instructorSidebar {
    /* never Change */
    /* border: 3px solid orange; */
    position: relative;
    height: 100%;
    width: 15%;
    float: left;
    /* display: none; */
}

.sidebarNavItem {
    /* border: solid royalblue; */
    margin: 2rem 0;
}

.sidebarNavLink:ac {
    /* border: solid royalblue; */
    text-decoration: none;
    outline: none;
    color: aliceblue;
    opacity: 0.5;
    font-size: 28px;
    font-weight: 500;
}

.sidebarNavLink{
    /* border: solid royalblue; */
    text-decoration: none;
    outline: none;
    color: aliceblue;
    opacity: 0.5;
    font-size: 28px;
    font-weight: 500;
}

.sidebarNavLinkActive {
        opacity: 1;
        text-decoration: none;
        outline: none;
        color: aliceblue;
        font-size: 28px;
        font-weight: 500;
}


.instructorRight{
    /* Never Change  */
    /* border: 3px solid blue; */
    position: relative;
    height: 100%;
    width: 84.7%;
    /* float: right; */
    float: left;
    display: flex;
    flex-direction: column;
}

.instructorTopbar {
    /* border: 3px solid blue; */
    height: 10%;
    width: 100%;
}

.instructorPagesContainer {
    /* border: 3px solid green; */
    width: 100%;
    height: 89%;
    
        

}

.instructorPages {
    /* Don't Change */
    /* border: 1px solid green; */


    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 2rem;
}