.container{
    border: 1px solid rebeccapurple;
    border-radius: 2rem;
    background-color: whitesmoke;
    position: absolute ;
    right: 1rem;
    bottom: 1rem;
    top: 6rem;
    width: 80vw;
    // height: 200px;
    color: whitesmoke;
}