.pagesContainer{
    position: absolute ;
    right: 1rem;
    bottom: 1rem;
    top: 6rem;
    width: 80vw;
    flex-grow: 6;
    width: 80%;
    border: 1px solid rebeccapurple;
    border-radius: 2rem;
    background-color: whitesmoke;
    color: whitesmoke;
}