.upperCardContainer {
  /* border: 1px solid blue; */
  /* margin: 0.5rem; */
  color: rgb(74, 74, 74);
  height: 100%;
  min-width: 100%;
  border-radius: 2rem;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);

  display: flex;
  flex-direction: column;

}

.upperCardHeader {
  border-bottom: 1px solid rgb(177, 177, 177);
  padding: 1rem;
  margin: 0rem 0.5rem 1rem 0.5rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1 10%;

}

.upperCardBody {
  /* border: 1px solid rgb(177, 177, 177); */
  margin: 0rem 0.5rem 0.5rem 0.5rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1 ;

}
