.admincontainer {
    /* border: 3px solid red; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: row;
}

.adminSidebar {
    /* border: 3px solid orange; */
    /* width: 13vw; */
    flex-grow: 1;
    /* display: none; */
}
.socketFalse{
color: red;

}
.socketTrue{
color: green;

}
.socketStatusContainer{
    border: 1px solid rgb(74, 74, 74);
    position: absolute;
    /* right: 100px; */
    margin-left: 300px;
    bottom: 100px;
    width: 80%;
    /* height: 10; */
    font-size: 24px;
    color: rgb(74, 74, 74);
    border-radius: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* align-items: center; */
}
.socketOff{
    display: none;
}
.SocketConnected{
    display: flex;
    flex-direction: row;
}

.sidebarNavItem {
    /* border: solid royalblue; */
    margin: 2rem 0;
}

.sidebarNavLink:ac {
    /* border: solid royalblue; */
    text-decoration: none;
    outline: none;
    color: aliceblue;
    opacity: 0.5;
    font-size: 28px;
    font-weight: 500;
}

.sidebarNavLink{
    /* border: solid royalblue; */
    text-decoration: none;
    outline: none;
    color: aliceblue;
    opacity: 0.5;
    font-size: 28px;
    font-weight: 500;
}

.sidebarNavLinkActive {
        opacity: 1;
        text-decoration: none;
        outline: none;
        color: aliceblue;
        font-size: 28px;
        font-weight: 500;
}


.adminRight{
    /* border: 3px solid blue; */
    width: 87vw;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
}

.adminTopbar {
    /* border: 3px solid green; */
    min-height: 65px;
}

.adminPagesContainer {
    /* border: 3px solid green; */

    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminPages {
    /* border: 3px solid green; */
    width: 98%;
    height: 98%;
    background-color: whitesmoke;
    border-radius: 2rem;
}