.topbarContainer {
    // border: 1px solid red;
    position: absolute;
    right: 0;
    top: 0;

    width: 80vw;
    height: 100px;
    color: whitesmoke;
    font-size: large;

    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;

}

.logoDiv {
    // border: 1px solid green;
    flex-grow: 2;
   

}
.logoDiv img{
    margin-top: 10px;
   

}

.timeDateDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;

}
.clockDiv {
    // border: 1px solid green;

}

.DateDiv { 
    // border: 1px solid green;



}
.topRightIcons {
    // border: 1px solid green;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.alertDiv {
    

}
.optionDiv {
   
}